html {
    background-color: #2f4454;
    background-size: 30%;
    font-family: 'Poppins', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(235, 216, 53);
}

a:hover {
    background-color: rgb(235, 216, 53);
    color: black;
}

body {
    display: block;
    padding: 40px;
    background-color: #1c3334;
    max-width: 985px;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 15px;

}

header, footer, h3 {
    padding: 30px;
    text-align: center;
    color: white;
    background-color: #2f4454;
    border: 5px double white;
    border-radius: 15px;
    overflow: hidden;
}

h3 {
    margin-right: 75%;
    padding: 15px;
}

section {
    background-color: rgb(41, 41, 41);
    display: block;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

.date {
    color: #c6ec04;
    font-size: 0.9em;
}

p {
    line-height: 25px;
}

nav {
    padding-top: 20px;
    box-shadow: 3px 3px 5px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 41, 41);

  }
  
nav ul li {
    float: left;
    width: 25%;
  }
  
nav ul li a {
    display: block;
    color: rgb(235, 216, 53);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav ul li a:hover{
    background-color: rgb(235, 216, 53);
    color: rgb(41, 41, 41);
  }

.nav3 li{
    width: 33%;
}

.nav2 li {
    width: 50%;
}

.button {
    background: rgb(41, 41, 41);
    border-radius: 20px;
    text-shadow: 1px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border: solid rgb(235, 216, 53) 2px;
    text-decoration: none;
    margin: 40px;
  }

.b-container {
    text-align: center;
    margin: 50px;
}

@media only screen and (max-width: 715px) {
    nav {
        display: block;
    }
    nav ul li {
        float: none;
        width: 100%;
    }

    .nav2 li, .nav3 li {
        width: 100%;
    }

    .button {
        display: block;
        margin: 0px;
        overflow: hidden;
    }

}
