<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>CSS Media Queries</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Student Presentation for Vaughan Hovey in WDD 230: Web Frontend Development at Brigham Young University - Idaho">
  
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="basic.css">
</head>
<body>

    <header>
        <h1>CSS Media Queries</h1>
        <h2>Welcome to Vaughan Hovey's Presentation on CSS Media Queries!</h2>
    </header>

    <nav>
        <ul>
            <li><a href="view/index.html">Home</a></li>
            <li><a href="../overview/overview.html">Overview</a></li>
            <li><a href="video.html">Video</a></li>
            <li><a href="../examples/examples.html">Examples</a></li>
  
        </ul>
    </nav>

    <main>
        <h3>The Overview Section</h3>
        <p>This section answers the question: What exactly is a media query? It explains how to use media queries and their capabilities.</p>
        <h3>The Video</h3>
        <p>This section contains the video presentation.</p>
        <h3>The Examples Section</h3>
        <p>This section has various applications of media queries that can be used throughout our websites!</p>

    </main>


    <footer>
        <p>
            &copy; <span id='current-year'></span> | 
            W. Vaughan Hovey | 
            Massachusetts |
            <a href="https://www.byui.edu/online" target="blank">BYUI Online Learning</a>
        </p>
        <p class="date">Last Updated: <span id='current-date'></span></p>
    </footer>

    <script src="js/date.js"></script>

</body>
</html>  